{% extends "app_coder/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Busca tu peli favorita</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="movie_search" id="movie_name" placeholder="Busqueda por pelicula">
        <input type="submit" value="Buscar Pelicula">
    </div>

    <div>
        <input type="text" name="genre_search" id="genre_name" placeholder="Busqueda por genero">
        <input type="submit" value="Buscar Genero">
    </div>

    <div>
        <input type="text" name="all_search" id="name_or_genre" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>
</form>

<hr></hr>

{% if peliculas %}
    <ul>
        {% for pelicula in peliculas %}
            <li>
                Pelicula: {{pelicula.name}} 
                -- Genero: {{pelicula.genre}}
                -- Year: {{pelicula.year}}
            </li>
        {% endfor %}
    </ul>
{% elif genres %}
<ul>
    {% for genre in genres %}
        <li>
            Name: {{genre.name}} 
            -- Movie: {{genre.movies}}
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}